# Introduction to Lists
* Many of the capabilities shown in this section apply to all sequence types. Common sequence types in Python are list, string and tuple.

### Creating a List
* **Lists** typically store **homogeneous data**, but may store **heterogeneous data**.

In [1]:
c = [-45, 6, 0, 72, 1543]

In [2]:
c

[-45, 6, 0, 72, 1543]

### Accessing Elements of a List
* Reference a list element by writing the list’s name followed by the element’s **index** enclosed in `[]` (the **subscription operator**).

![Diagram of a list named c labeled with its element names](AAEMYRO0.png "Diagram of a list named c labeled with its element names")

In [3]:
c[0]

-45

In [4]:
c[4]

1543

### Determining a List’s Length

In [5]:
len(c)

5

### Accessing Elements from the End of the List with Negative Indices
* Lists can be accessed from the end by using _negative indices_:
![Diagram of the list c labeled with its negative indices](AAEMYRO0_2.png "Diagram of the list c labeled with its negative indices")

In [6]:
c[-1]#c[4]

1543

In [7]:
c[-5]#c[0]

-45

### Indices Must Be Integers or Integer Expressions

In [8]:
a = 1

In [9]:
b = 2

In [10]:
c[a + b]

72

### Lists Are Mutable

In [14]:
c[4] = 'Jonny'

In [15]:
c

[-45, 6, 0, 72, 'Jonny']

### Some Sequences Are Immutable
* Python’s string and tuple sequences are immutable.

In [16]:
s = 'hello'#immutable char list

In [17]:
s[0]

'h'

In [18]:
s[0] = 'H'

TypeError: 'str' object does not support item assignment

### Attempting to Access a Nonexistent Element
* Index values must be in range.

In [19]:
c[100]

IndexError: list index out of range

### Using List Elements in Expressions

In [20]:
c[0] + c[1] + c[2]

-39

### Appending to a List with +=
* Lists can grow dynamically to accommodate new items.

In [26]:
a_list = []

In [27]:
for number in range(1, 7):
    a_list += [number]

In [28]:
a_list

[1, 2, 3, 4, 5, 6]

* When the left operand of `+=` is a list, the right operand must be an _iterable_; otherwise, a `TypeError` occurs.

In [29]:
letters = []

In [30]:
letters += 'Python'

In [34]:
letters
letters[0]='p'
letters

['p', 'y', 't', 'h', 'o', 'n']

### Concatenating Lists with +
* Can **concatenate** two lists, two tuples or two strings using `+` to create a _new_ sequence of the same type.

In [35]:
list1 = [10, 20, 30]

In [36]:
list2 = [40, 50]

In [37]:
concatenated_list = list1 + list2

In [38]:
concatenated_list

[10, 20, 30, 40, 50]

### Using `for` and `range` to Access List Indices and Values

In [39]:
for i in range(len(concatenated_list)):  
    print(i, concatenated_list[i])

0 10
1 20
2 30
3 40
4 50

* We’ll show a safer way to access element indices and values using built-in function `enumerate`.

### Using Python Built-in Functions for List
* `len`: return the number of elements in the list.
* `max`: return the element with the greatest value in the list.
* `min`: return the element with the lowest value in the list.
* `sum`: return the sum of all elements in the list.
* `random.shuffle`: shuffle the elements randomly in the list.

In [40]:
list1 = [2, 3, 4, 1, 32]

In [41]:
len(list1)

5

In [42]:
max(list1)

32

In [43]:
min(list1)

1

In [44]:
sum(list1)

42

In [45]:
import random
random.shuffle(list1)
list1

[1, 2, 32, 3, 4]

### Comparison Operators
* Can compare entire lists element-by-element.

In [46]:
a = [1, 2, 3]

In [47]:
b = [1, 2, 3]

In [48]:
c = [1, 2, 3, 4]

In [49]:
a == b

True

In [50]:
a == c

False

In [51]:
a < c

True

In [52]:
c >= b

True